@font-face {
  font-family: Fira;
  src: url(FiraCode-VariableFont_wght.ttf);
}

body {
  font-family: Fira;
  background-color: rgb(255, 255, 255);
  /* background-image: url(assets/000015rsz.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  letter-spacing: -2px;
  color:rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
}

h1 {
  letter-spacing: 9px;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  color:rgb(0, 0, 0);
  text-shadow: 1px 2px rgba(150, 150, 150, 0.79);
  font-variation-settings: "wght" 100, "wdth" 100;
  transition: font-variation-settings 0.2s;
}

h1:hover {
  font-variation-settings: "wght" 900, "wdth" 200;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 150px;
  padding-left: 30px;
  padding-top: 30px;
  z-index: 1;
}

.header-menu {
  margin: 0;
  margin-left: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.577);
}

.main-svg-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
} 

.icon-container {
  padding: 16px;
  filter: blur(2px);
  transition: filter 0.3s;
  width: 50px;
}

.icon-container:hover {
filter: blur(0px);
}

