@font-face {
    font-family: salsico;
    src: url(assets/Salsico.otf);
  }

  body {
      font-family: salsico;
      background-color: #FFE6DC;
      color: #6C5D34;
      margin: 0;
      padding: 0;
      letter-spacing: 2px;
  }

  header {
      display: flex;
      height: 60px;
      /* background-color: #FFE6DC; */
      position: fixed;
      z-index: 3;
      padding-bottom: 30px;
      justify-content: space-between;
      align-items: center;
      background-color: red;
  }

  h1 {
    margin-left: 20px;
    margin-top: 100px;
  }

  .logo {
    width: 160px;
  }

  .menu {
      margin-right: 30px;
      margin-top: 60px;
      /* background-color:teal; */
  }

  .menu a {
      padding-left: 15px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 14px;
  }

  .menu a:hover {
      text-shadow: 1px 1px rgba(0, 0, 0, 0.198);
  }

  .hero {
      background-color: #FFE6DC;
      height: 100vh;
      width: 100%;
      /* z-index: 1; */
  }

  .hero {
    position: relative;
  }

  .hero-text {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  h2 {
      font-size: 36px;
      font-weight: medium;
      letter-spacing: 6px;
      line-height: 50px;
  }





  .section-1 {
      height: 100vh;
      background-color:#FAF1C0;
      position: relative;

  }

  .section-1-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

  }





  .section-2 {
        height: 100vh;
        background-color: #FFE6DC;
        position: relative;
    }   

    .section-2-box {
        width: 33%;
        height: 30%;
        background-color: #FAF1C0;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding-left: 10px;
        padding-right: 6px
    }

    .section-2-box h2 {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 28px;
    }

    .section-2-box p{
        font-size: 12px;
        margin-top: 1px;
    }

    .picture {
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 40%;
    }

    h3 {
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    }

    p {
        font-weight: normal;
    }

    .envelope {
        width: 18px;
        filter: invert(35%) sepia(33%) saturate(515%) hue-rotate(6deg) brightness(97%) contrast(98%);
    }
    
    .inst-icon {
        width: 17px;
        padding-left: 20px;
        padding-bottom: 10px;
        filter: invert(35%) sepia(33%) saturate(515%) hue-rotate(6deg) brightness(97%) contrast(98%);
    }
    
    .fb-icon {
        width: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        filter: invert(35%) sepia(33%) saturate(515%) hue-rotate(6deg) brightness(97%) contrast(98%);
    }

    footer {
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }



@media(max-width: 930px) {

    h2 {
        font-size: 28px;
        line-height: 35px;
    }

    p { 
        font-size: 16px;
    }

    .logo {
        width: 120px;
    }

    h1 {
        margin-left: 30px;
        margin-top: 80px;
    }


@media(max-width: 750px)

{

    .menu {
        display: none;
    }



}

    @media (max-width: 500px){

h2 {
    font-size: 24px;
}

p { 
    font-size: 14px;
}

.logo {
    width: 110px;
}

h1 {
    margin-left: 15px;
    margin-top: 70px;
}

}}